.container{
    border: none;
    width: 70%;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form{
    margin: 0 auto;
}

form input {
    width: 100%;
}

#form-input, #network, #airtime {
    width: 500px;
}